[Unit]
Description=Local client to run jobs for the JobManager server
After=multi-user.target

[Service]
Group=facs
User=facs
Type=simple
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/.magic-environment-file'
EnvironmentFile=-/tmp/.magic-environment-file
ExecStart=pyjob_run.py
