[Unit]
Description=Server of the JobManager
After=network.target

[Service]
Group=fac
User=fac
Type=oneshot
ExecStart=/home/fac_files/lnls-fac/job_manager/src/pyjob_server.py

[Install]
WantedBy=multi-user.target
