[Unit]
Description=Server of the JobManager
After=multi-user.target

[Service]
Group=fac
User=fac
Type=oneshot
ExecStart=/home/fac_files/lnls-fac/job_manager/src/pyjob_server.py
