[Unit]
Description=Local client to run jobs for the JobManager server

[Service]
Group=fac
User=fac
Type=oneshot
ExecStart=/home/fac_files/lnls-fac/job_manager/src/pyjob_run.py

#console log
